@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* font-family: "Jarkata Sans"; */
	font-family: "DM Sans";
	/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
	scroll-behavior: smooth;
}
body {
	background: #fafafa;
	overflow-x: hidden;
}

.font_inter {
	font-family: "Inter" !important;
}
.hide_scroll_bar::-webkit-scrollbar {
	display: none !important;
}

.hide_scroll_bar {
	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
}
