@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* font-family: "Jarkata Sans"; */
	font-family: "DM Sans";
	/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
	scroll-behavior: smooth;
}
body {
	background: #fafafa;
	overflow-x: hidden;
}
